.navbar{
    background-color: rgb(234, 248, 246);
    color: white;
    padding: 5px;
    box-shadow: 0 5px 10px rgb(150, 149, 149);
}
.page{
    color: rgb(22, 21, 21);
    margin-right: 20px;
    text-decoration: none;
}
.page-active{
    font-weight: bold;
    text-decoration: underline;
}